body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--Gray)
}

body{
    margin: 0;
}

.topNave{
    background-color: var(--Primary-extra-light);

}

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    margin: auto;

}

ul.nav{
    list-style-type: none;
    padding: 0;
    display: flex;

}

.navItem{
    padding: 16px 20px;
    text-decoration: none;
    font-size: var(--font-size-navigation);
    color: var(--Primary);
}

.navItem:hover{
    color: var(--Primary-dark);
    background-color: var(--Secondary-light);
}

.navItem.selected{
    color: var(--Secondary-dark);

}


.mobileMenu{
    display: none;
}


section.hero{
    background: var(--Primary-gradient);

}

.heroContainer{
    margin:auto;
    width: var(--container-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImage{
    width: 300px;
    padding: 40px;
}

.heroContent{
    width: 647px;
}

.heroTitle{
    font-size: var(--font-size-h1);
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;

}

.heroText {
    margin: 0;
}

.projects {
    width: var(--container-width);
    margin: auto;
    margin-top: 60px;
}

.sectionTitle {
    font-size: var(--font-size-h3);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}

.projects .sectionTitle {
    text-align: center;
}

.projectContainer{
    display: flex;
    gap: 24px;
    align-items: stretch;
}

.projectCard {
    width: 100%;
    border: 1px solid var(--Gray-extra-light);
    background: var(--white);

}

.cardImage {
    width: 100%;

}

.cardContent {
    padding: 16px;
}

.cardTitle {
    font-size: var(--font-side-h3);
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

.cardText {
    margin-bottom: 0.75rem;
}

.btnPrimary{
    border-radius: 0.25rem;
    background: var(--Primary);
    padding: 0.625rem;
    color: var(--White);
    font-size: var(--font-size-botton);
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

footer{
    background: var(--Primary-gradient-rev);
    margin-top: 60px;
}

.footerContainer{

    width: var(--container-width);
    margin: auto;
    text-align: center;
}

.footerTitle {
    font-size: var(--font-size-h5);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

.footerText{
    font-size: var(font-size-body-small);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

.footerCopy{
    font-size: var(--font-size-body-small);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

.footerCopy{
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.75rem;
    
}

@media all and (max-width: 14000px) {
    .heroImage{
        width: 20%;
    }

    .heroContent{
        width: 60%;
    }
    
}

@media all and (max-width: 992px) {
    .heroImage {
        width: 20%
    }
    .heroContent {
        width: 80%;

    }

    .projectContainer{
        flex-wrap: wrap;

    }

    .projectCard{
        width: 48%;
    }
}

@media all and (max-width: 768px) {

    .heroContainer {
        flex-direction: column;
    }
    .heroTitle{
        text-align: center;

    }

    .heroImage {
        width: 40%;
    }

    .heroContent {
        width: 100%;
    }

    .projectCard{
        width: 100%;

    }
}

@media all and (max-width: 576px) {

    .mobileMenu {
        display: block;
    }

    ul.nav{
        display: none;

    }
    .topNave{
        padding: 20px 0;
    }
}